.Rproj.user
.Rhistory
.RData
.Ruserdata
.practice_assignment_files.guinea_pigs_tooth_growth.txt
Practice Assignment/guinea_pigs_tooth_growth.txt
/Users/fangwu/Documents/R-git/zz_wang-fangwu_STAT540_2017/zz_wang-fangwu_STAT540_2017.Rproj
/Users/fangwu/Documents/R-git/zz_wang-fangwu_STAT540_2017/Paper review.html